@using System.Linq
@using FleetBattles.Data
@using FleetBattles.Models
@using Microsoft.EntityFrameworkCore
@model RegisterViewModel
@{
    ViewData["Title"] = "Sign up for Interstellar War";
}

<TABLE class="W T4">
    <TR><TH><H1>@ViewData["Title"]</H1></TH></TR>
</TABLE><IMG src=i/sp.gif height=4>
<TABLE class=W>
    <TR>
        <TD width=56% class="T">

            <TABLE class="W T3">
                @*<FORM action=?Act =SignUp method=Post>*@
                <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <TR><TH colspan=2>Required Details</TH></TR>
                    <TR>
                        <TD class=C>In-Game Name<BR><INPUT size=30 name="UserName" value="" maxlength=20></TD>
                        <TD class=C>Password<BR><INPUT size=30 name="Password" value="" type="password" maxlength=100></TD>
                    </TR>
                    <TR>
                        <TD class=C>eMail Address<BR><INPUT size=30 name="Email" value="" maxlength=50></TD>
                        <TD class=C>
                            Faction<BR>
                            @Html.DropDownList("Faction", String.Empty)
                            @*<SELECT style=width:196 name=Race>
                        <OPTION value="7|The Slah'ke">The Slah'ke (Union) 700Cr</OPTION>
                        <OPTION value="6|The Hive">The Hive (Hive) 600Cr</OPTION>
                        <OPTION value="5|The Plexxans">The Plexxans (Federation) 500Cr</OPTION>
                        <OPTION value="4|The Kolari">The Kolari (Nexus) 400Cr</OPTION>
                        <OPTION value="3|The Orfine">The Orfine (Alliance) 300Cr</OPTION>
                        <OPTION value="2|The Preservers">The Preservers (Matrix) 200Cr</OPTION>
                        <OPTION value="1|The Brood">The Brood (Genus) 100Cr</OPTION>
                        <OPTION value="0|The Terrans">The Terrans (Terran Empire) 0Cr</OPTION>
                    </SELECT>*@
                        </TD>
                    </TR>
                    <!--<TR><TH colspan=2>Optional Details</TH></TR>-->
                <TR><TD class=C colspan=2><div asp-validation-summary="All" class="text-danger"></div><BR>You may need to adjust your spam filter if you have problems<BR>NB: Your in-game name must be a realistic name, or will be removed"<BR><BR><INPUT class=BTN type=submit value="Sign me up !"><BR><BR></TD></TR>
                    </form>
</TABLE><IMG src=/images/i/sp.gif height=4><TABLE class="W T3">
                <TR><TH>Terms of Use</TH></TR>
                <TR>
                    <TD class=TXT>
                        <p>You will not attempt to cheat or knowingly exploit any bugs in the game.  If you find a bug, you should report it in the "Support" forum provided.</p>
                        <p>You will not attempt to cause any <I title="offending their game character is quite acceptable">personal</I> offence, defamation, threat or harassment to other players of this game.  You should remember the clear distinction between players and characters.</p>
                        <p>You will not impersonate a member of the Interstellar War game staff.</p>
                        <p>You will not discuss or knowingly engage in any illegal activity using this site.</p>
                        <p>Any breach of these terms could mean the immediate suspension of your account.</p>
                        <p>We accept no responsibility or liability for loss or harm suffered as a result of playing Interstellar War.</p>
                        <p>Please play responsibly, and above all, have fun!</p>
                    </TD>
                </TR>
        </TABLE><img src=/images/i/sp.gif height=4><TABLE class="W T3">
                <TR><TH>Privacy Policy</TH></TR>
                <TR>
                    <TD class=TXT>
                        We will not knowingly divulge your email address to any third party or email you anything other than your account details unless you specifically ask.
                        We do not track your activity within this site for any reason other than playing the game.
                        Interstellar War will not attempt to store any cookies on your machine other than one containing your login details if you select auto sign-in on the upper left panel. Third party links (e.g. PayPal) may use cookies, refer to their respective sites for policy information.
                    </TD>
        </TD>
    </TR>
</TABLE>

</TD><TD width=4><IMG src=/images/i/sp.gif width=4></TD>
<TD class=T>
    @{
        ApplicationDbContext Db = (ApplicationDbContext)ViewData["Db"];
    }
    <TABLE class="W T3">
        <TR><TH colspan=4>Race Summary</TH></TR>
        <TR><TD class=C><U>Character Race</TD><TD class=C><U>Total</TD><TD class=C><U>Active</TD><TD class=C><U>Logo</TD></TR>
        @foreach (Race race in ((DbSet<Race>)ViewData["Races"]).ToList()) {
            <TR><TD class=C>@race.Name</TD><TD class=C>@(Db.Users.Count(u => u.Race == race))</TD><TD class=C>@(Db.Users.Count(u => u.Race == race))</TD><TD class=C><IMG src="@((((DbSet<Faction>) ViewData["Factions"]).First(f => f.DefaultRace == race)).IconURL)"></TD></TR>
                }

    </TABLE><IMG src=/images/i/sp.gif height=4><TABLE class="W T3">
        <TR><TH colspan=4>Clan Summary</TH></TR>
        <TR><TD class=C><U>Character Clan</TD><TD class=C><U>Total</TD><TD class=C><U>Active</TD><TD class=C><U>Logo</TD></TR>
    @foreach (Faction faction in ((DbSet<Faction>)ViewData["Factions"]).ToList())
    {
        <TR><TD class=C>@faction.Adjective</TD><TD class=C>@(Db.Users.Count(u => u.Faction == faction))</TD><TD class=C>@(Db.Users.Count(u => u.Faction == faction))</TD><TD class=C><IMG src="@faction.IconURL"></TD></TR>
    }
    </TABLE>

</TD></TR>
</TABLE></TD>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
